#body{ 
	margin: 7%;
    padding: 25%;
 }
 #octopus { 
 	position: absolute;
 	bottom: 25%;
 	right: 50%;
 	z-index: -1;
  }
 #hat { 
  position: absolute;
  bottom: 60%;
  right: 47%;
   z-index: 0
}

  #glasses { 
  	position: absolute;
    bottom: 47%;
    right: 52.5%;
     z-index: 1
 }
 #wrapping-div {  }